

/* Breakpoints */

$breakpoint-desktop: 1024px;
$breakpoint-tablet: 758px;
$breakpoint-mobile: 335px;


/* Typescale */

$fontscale-desktop: 1.414;
$fontsize-desktop: 21px;
$fontscale-tablet: 1.414;
$fontsize-tablet: 18px;
$fontscale-mobile: 1.250;
$fontsize-mobile: 18px;
