/* Breakpoints */

$breakpoint-desktop: 1024px;
$breakpoint-tablet: 758px;
$breakpoint-mobile: 335px;

/* Typescale */

$fontscale-desktop: 1.414;
$fontsize-desktop: 21px;
$fontscale-tablet: 1.414;
$fontsize-tablet: 18px;
$fontscale-mobile: 1.250;
$fontsize-mobile: 18px;

/* Colors */

$gray-1: #1b1b1b;
$gray-2: #212121;
$gray-3: #2D2D2D;
$gray-4: #5C5C5C;
$gray-5: #8F8F8F;
$gray-6: #C5C5C5;

$red: #CF3943;

